.card {
  max-width: 345;
  margin: 0 auto;
}

.media {
  height: 0;
  padding-top: '56.25%';
}

.avatar {
  background-color: green !important;
}

.instructions {
  /* marginTop: theme.spacing(-2);
  marginBottom: theme.spacing(1); */
}

button {
  /* marginRight: theme.spacing(1); */
}